<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emoticon.tb.mapper.TbCategoryMapper">

    <resultMap type="TbCategory" id="TbCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="subSortOrder"    column="sub_sort_order"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTbCategoryVo">
        select id, name, description, status, sort_order, sub_sort_order, create_time, update_time from tb_category
    </sql>

    <select id="selectTbCategoryList" parameterType="TbCategory" resultMap="TbCategoryResult">
        <include refid="selectTbCategoryVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="subSortOrder != null and subSortOrder != ''"> and sub_sort_order = #{subSortOrder}</if>
        </where>
        order by sort_order asc
    </select>

    <select id="selectTbCategoryById" parameterType="String" resultMap="TbCategoryResult">
        <include refid="selectTbCategoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbCategory" parameterType="TbCategory" useGeneratedKeys="true" keyProperty="id">
        insert into tb_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="subSortOrder != null">sub_sort_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="subSortOrder != null">#{subSortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTbCategory" parameterType="TbCategory">
        update tb_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="subSortOrder != null">sub_sort_order = #{subSortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbCategoryById" parameterType="String">
        delete from tb_category where id = #{id}
    </delete>

    <delete id="deleteTbCategoryByIds" parameterType="String">
        delete from tb_category where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
